<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'flatpages/default.html' %}

{% load i18n %}

{% load tz %}

{% load custom_filters %}

{% load custom_tags %}

<!-- Название у нас будет news -->
{% block title %}
Articles
{% endblock title %}

<!-- В контенте на странице мы выводим все товары -->
{% block content %}
    {% get_current_timezone as TIME_ZONE %}
    <form action="" method="POST">
        {% csrf_token %}
        <label for="timezone">Time zone:</label>
        <select name="timezone">
            {% for tz in timezones %}
            <option value="{{ tz }}"{% if tz == TIME_ZONE %} selected{% endif %}>{{ tz }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Set">
    </form>

    {{ TIME_ZONE }}
    {{ current_time|timezone:TIME_ZONE }} <!-- Отображаем время в выбранном часовом поясе  -->

    <h1>{% trans "All Articles" %} ({{ articles|length }})</h1>

    {% for single_articles in articles %}
        <hr>
        <a href="{{ link }}{{ single_articles.get_absolute_url }}"><h2>{{ single_articles.title|censor }}</h2></a>
<!--        <h2>{{ single_articles.title|censor }}</h2>-->
        <h6>{{ single_articles.time_in|date:'d M Y' }}</h6>
        <h3>{{ single_articles.text|truncatewords:20|censor }}</h3>
    {% endfor %}

   {# Добавляем пагинацию на страницу #}

   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       {% load cache %}
        {% cache 60 header %}
           <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
           {% if paginator.num_pages != page_obj.next_page_number %}
               ...
               <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
           {% endif %}
        {% endcache %}
   {% endif %}
{% endblock content %}